name: Python Quality Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        
    - name: Install Linting Tools
      run: |
        pip install flake8
        
    - name: Run Linting (PEP8 Check)
      run: |
        # This will fail if your code is "dirty" or has syntax errors
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics